{% extends "base.html "%}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static "home/home.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-foot.css" %}">
{% endblock %}

{% block page_title %}
{% endblock%}

{% block header %}
    {% include "my_site/includes/header.html"%}
{% endblock%}

{% block content %}  
    <h1>About</h1>
    <section id="welcome">
        <header>
            <img src="" alt="">
            <h2>My Story</h2>
        </header> 
        <p class="page-copy">
            As a passionate web developer, machine learning engineer, and creative coder, 
            I bring a unique blend of technical expertise and innovative thinking to the table. 
            My diverse skill set allows me to craft exceptional web applications that not only look 
            stunning but also function seamlessly to drive engagement and conversions.
        </p>

        <h3 class="page-copy">Web Development Expertise</h3>
        <p class="page-copy">
            With a solid foundation in web development, I specialize in creating responsive, 
            user-friendly landing pages tailored to your business needs. 
            I utilize the latest technologies and best practices to ensure that your website 
            is not only visually appealing but also optimized for performance across all devices. 
            My attention to detail ensures that every element serves a purpose, guiding visitors toward taking action.
        </p>

        <h3 class="page-copy">Machine Learning Insights</h3>
        <p class="page-copy">
            Leveraging my background in machine learning, I can integrate intelligent features into your web application
            that enhance user experience. From personalized content recommendations, customized chat agents to predictive analytics, 
            I harness the power of data to create a more engaging and tailored experience for your visitors. 
            This means your web applications can evolve based on user behavior, leading to higher conversion rates and more effective marketing strategies.
        </p>

        <h3 class="page-copy">Creative Coding Solutions</h3>
        <p class="page-copy">
            As a creative coder, I push the boundaries of conventional web design. 
            I enjoy experimenting with interactive elements and animations that not 
            only captivate your audience but also reinforce your brand identity. 
            My creative approach ensures that the pages of your web application 
            stand out in a crowded marketplace, making a memorable impression on potential customers.
        </p>

        <h3 class="page-copy">Exceptional Services for Your Business</h3>
        <p class="page-copy">
            By combining my skills in web development, machine learning, and creative coding, 
            I offer a comprehensive service that goes beyond traditional web application design. 
            I focus on creating engaging, interactive, and responsive landing pages and user experiences
            that are optimized for conversions. Whether you are a start-up looking to establish your 
            online presence or an e-commerce business aiming to boost sales, I am committed 
            to delivering exceptional results that help you achieve your goals.
        </p>

        <p class="page-copy">
            Let’s collaborate to turn your vision into reality and create web applications that 
            not only attract visitors but also convert them into loyal patrons!
        </p>
    </section>
{% endblock %}