{% extends "base.html "%}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static "blog/blog.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "blog/includes/post.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-foot.css" %}">
{% endblock %}

{% block page_title %}
{% endblock%}

{% block header %}
    {% include "my_site/includes/header.html"%}
{% endblock%}

{% block content %} 
    <h1 class="box">Blog</h1>
    <div class="container">     
        <section class="box" id="welcome">
            <header>
                <img src="" alt="">
                <h2>Word on The Web</h2>
            </header> 
            <p class="page-copy">  
                Dive into a world of insights, trends, and best practices 
                as we explore the ever-evolving landscape of web development, 
                machine learning, and creative coding. Our blog is your go-to 
                resource for staying ahead of the curve, packed with actionable 
                tips, case studies, and thought-provoking articles from industry 
                experts.        
            </p>
        </section>
        <section class="box" id="all-posts">
            <h2>Top Posts</h2>
            <ul>
               {% for post in posts %}
                    {% include "my_site/includes/post-article.html" %}
               {% endfor %}
            </ul>  
            <a href="{% url "all-posts" %}">
                <h3>See More Posts</h3>
            </a> 
        </section>
         
    </div>
{% endblock %}