{% extends "base.html "%}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static "blog/blog.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "blog/single-post.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-foot.css" %}">
{% endblock %}

{% block page_title %}
    {{ post.title }}
{% endblock%}

{% block header %}
    {% include "my_site/includes/header.html"%}
{% endblock%}

{% block content %}
    <section id="summary">
        <h2> {{ post.title }} </h2>
        <article>
            <img 
                src="{{ post.image }}"
                alt=""
            />
            <address>{{ post.author}}<address>
            <div>
                Last Updated: <time> {{ post.date }} </time>
            </div>
        </article>
    </section>
    <main>
        {{ post.content | linebreaks }}
    </main>
    <div id="post_tags">
        {% for item in tags %}
            <span>{{ item.caption }}</span>
        {% endfor %}
    </div>
{% endblock %}