{% extends "base.html "%}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static "blog/blog.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "blog/single-post.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-foot.css" %}">
{% endblock %}

{% block page_title %}
    {{ post.title }}
{% endblock%}

{% block header %}
    {% include "my_site/includes/header.html"%}
{% endblock%}

{% block content %}
    <section id="summary">
        <h2> {{ post.title }} </h2>
        <article>
            <img 
                src="{{ post.image.url }}"
                alt=""
            />
            <address>{{ post.author}}<address>
            <div>
                Last Updated: <time> {{ post.date }} </time>
            </div>
            <div id="read-later">
                <form action="{% url "read-later" %}" method="POST">
                    {% csrf_token %}
                    <input 
                        type="hidden" 
                        value="{{ post.id }}" 
                        name="post_id"
                    />
                    <button>
                        {% if saved_for_later %}
                            Remove From Saved Posts
                        {% else%}
                            Read Later
                        {% endif %}
                    </button>
                </form>
            </div>
        </article>
    </section>
    {% if comment_form.errors %}
    <div id="alert">
        <h2>Comment Submission Failed!</h2> 
        <p>Check the comment form below for more details</p>
     </div>
    {% endif %}
    <main>
        {{ post.content | linebreaks }}
    </main>
    <div id="post-tags">
        {% for item in post_tags %}
            <span class="tag">{{ item.caption }}</span>
        {% endfor %}
    </div>

    <section id="comments">
        <ul>
            {% for item in post_comments %}
                <li>
                    <h3>{{ item.display_user }}</h3>
                    <p>{{ item.comment | linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>
    <div id="comment-form">
        <form action="{% url "single-post-page" post.slug %}" method="POST">
        {% csrf_token %}
        <h2>Share Your Thoughts</h2>
        {% for form_field in comment_form %}
            <div class="form-control 
                {% if form_field.errors %}
                invalid
                {% endif %}
                "
            >
                {{ form_field.label_tag }}
                {{ form_field }}
                {{ form_field.errors }}
            </div>
        {% endfor %}
        <button class="form-btn">Submit</button>
        </form>
    </div>
{% endblock %}