{% extends "base.html "%}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static "projects/projects.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "projects/includes/post.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-foot.css" %}">
{% endblock %}

{% block page_title %}
{% endblock%}

{% block header %}
    {% include "my_site/includes/header.html"%}
{% endblock%}

{% block content %}  
    <h1>Projects</h1>
    <section id="welcome">
        <header>
            <img src="" alt="">
            <h2>My Creative Portfolio</h2>
        </header>
        <p class="page-copy">Explore my diverse range of projects that showcase a fusion between creativity, culture and technology.</p> 
        <p class="page-copy"> 
            From interactive installations to innovative software solutions, 
            my portfolio highlights the versatility and impact of creative coding. 
            Each project is a testament to my commitment to excellence and artistic integrity.
        </p>
    </section>
    <h2>Featured Projects</h2>
    <section id="featured-project">
        <ul>     
            {% for project in featured %}
                {% include "my_site/includes/project-article.html" %}
            {% endfor %}
        </ul>
    </section>
    <h2>Recent Projects</h2>
    <section id="all-projects"> 
        <ul>
            {% for project in projects %}
                 {% include "my_site/includes/project-article.html" %}
            {% endfor %}
        </ul>
        <a href="{% url "projects-gallery-page" %}">
            <h3>See More Projects</h3>
        </a> 
    </section>
    
{% endblock %}
