{% extends "base.html "%}
{% load static %}

{% block head_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/addons/p5.sound.min.js"></script>
{% endblock %}

{% block styles%}
    <link rel="stylesheet" href="{% static "project/projects.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "projects/single-project.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-foot.css" %}">
{% endblock %}

{% block page_title %}
    {{ project.title }}
{% endblock%}

{% block header %}
    {% include "my_site/includes/header.html"%}
{% endblock%}

{% block content %}
    <section id="summary">
        <h2> {{ project.title }} </h2>
        <article>
            <img 
                src=""
                alt=""
            />
            <address>{{ project.author}}<address>
            <div>
                Last Updated: <time> {{ project.date }} </time>
            </div>
        </article>
    </section>
    <main>
        {{ project.content | linebreaks }}
    </main>
{% endblock %}

{% block body_scripts%}
    {{ project.script }}
{% endblock %}


