{% extends "base.html "%}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static "services/services.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-foot.css" %}">
{% endblock %}

{% block page_title %}
{% endblock%}

{% block header %}
    {% include "my_site/includes/header.html"%}
{% endblock%}

{% block content %}  
    <h1>Services</h1>
    <section id="welcome">
        <header>
            <img src="" alt="">
            <h2>What We Offer</h2>
        </header>
        <p class="page-copy">
            Need a web developer and machine learning expert with a flair for creative coding? 
            Look no further than Xuzmonomi!
        </p> 
        <p class="page-copy">  
            I highly value optimal functionality and aesthetic appeal aiming to ensure 
            that your unique needs as a client are met with excellence.
            Whether you're looking for a custom application or an engaging digital art piece, 
            my services are designed to deliver to you the most exceptional results.   
        </p>
    </section>
{% endblock %}