{% extends "base.html "%}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static "services/services.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "my_site/includes/main-foot.css" %}">
{% endblock %}

{% block page_title %}
{% endblock%}

{% block header %}
    {% include "my_site/includes/header.html"%}
{% endblock%}

{% block content %}  
    <h1>Services</h1>
    <section id="welcome">
        <header>
            <img src="" alt="">
            <h2>More Than Just Exceptional Design</h2>
        </header>
        <p class="page-copy">
           Establish a powerful online presence for your start-up or online store
           with highly custom interactive web pages that attract views and drive conversions.
        </p>
        <h3 class="page-copy">Key Benefits:</h3>
        <ul>
            <li>
                <strong>Engaging</strong> and <strong>interactive</strong>
                designs that captivate your audience.</li>
            <li>
                <strong>Responsive</strong> layouts
                 that look great on any device.</li>
            <li>
                <strong>Conversion-focused </strong> elements
                to maximize your leads and sales.</li>
            <li>
                <strong>Fast turnaround</strong> times
                to get your business online quickly.</li>
        </ul>

        <h3 class="page-copy">What's on offer:</h3>
        <ul>
            <li>
                Full consultation to understand your 
                business goals and target audience.
            </li>
            <li>
                Custom landing page design 
                based on your branding and messaging.
            </li>
            <li>
                Responsive HTML/CSS coding for optimal 
                performance on any device.
            </li>
            <li>
                Integration with your website, email marketing, 
                and analytics tools.
            </li>
            <li>
                1 round of revisions to ensure you're 100% satisfied
            </li>
            <li>
                Ongoing support and maintenance as needed.
            </li>
            <li>
                SEO optimization.
            </li>
            <li>
                AI Customer Support Chat Intergration. 
            </li>
        </ul>

        <h3 class="page-copy">Pricing:</h3>
        <p class="page-copy">
            Starting at <strong>$1,500</strong> for a single page application. 
            Quotations available for multi-page websites and ongoing retainer work.</p>

        <p class="page-copy">
            Don't let a lackluster landing page hold your business back. 
            Contact me today to discuss how professional landing page design 
            can help you stand out online. I look forward to working with you!
        </p>
    </section>
{% endblock %}